.hero-section {
  background-color: #f5efff; /* Violet gradient */
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0 0 20px 20px;
  color: white;
}

.hero-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-heading h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000000;
}

.hero-heading p {
  font-size: 1rem;
  color: #000000;
}

.hero-section > div:not(.hero-heading) {
  flex: 1;
  max-width: 22%;
  background-color: #ffffff;
  color: black;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.hero-section > div:not(.hero-heading):hover {
  transform: translateY(-5px);
}
