.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Light gray background */
}

.dashboard-header {
  font-size: 2.5rem;
  font-weight: bold;
}

.dashboard-message {
  margin-top: 1rem;
  font-size: 1.25rem;
}
